
/*PRINCIPAL PAGE*/
*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background-image: url("images/bg-img.jpg");
    background-size: cover;
    display: block;
}

body .navbar{
    width: 100%;
    padding: 30px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    margin: 0 0 20px;
    position: relative;
}

.navbar .navbar-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}


.navbar a{
    color: #cfcfcf;
    text-decoration: none;
}

.navbar a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.img-profile-non-display{
    background-color: #ffffff;
    width: 35px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

.sub-menu-wrap.open-menu{
    display: block;
    position: absolute;
    top: 90%;
    left: 80%;
    background-color: #383838;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);  
}

.sub-menu-wrap{
    display: none;
}

.profile-photo-and-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-profile-display{
    background-color: #ffffff;
    width: 40px;
    border: 1px solid #ffffff;
    outline: none;
    border-radius: 50px;
}

.user-name{
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
}

.sub-menu-wrap.open-menu hr{
    border: none;
    outline: none;
    width: 100%;
    background-color: #ffffff;
    height: 1px;
}

.sub-menu-wrap ul{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.navbar .sub-menu-wrap ul a{
    text-decoration: none;
}

.sub-menu-wrap ul li{
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #707070;
}

.sub-menu-wrap ul li:hover{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #ffffff;  
}


.sub-menu-wrap ul li i{
    padding: 5px;
}

h1{
    text-align: center;
    padding: 40px;
    color: #ebebeb;  
}

h2{
    text-align: center;
    padding: 40px;
    color: #ebebeb;
}

.body{
    width: 90%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.course-1, .course-2, .course-3{
    display: block;
    width: 25%;
    height: 300px;
    background-color: #cccccc;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    transition: 0.3s;
    text-align: center;
}

.course-1:hover, .course-2:hover, .course-3:hover{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .5);
    transition: 0.3s;
    transform: translateY(2%);
}

.course-1 img, .course-2 img, .course-3 img{
    width: 100%;
} 

.course-1 h3, .course-2 h3, .course-3 h3{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}






